extend layout

block content
  h1 my posts

  form(method='post', action='/post')
    label reply links to previous posts? (space delimited)
      input#reply-to(type='text', name='reply')
    label content
      textarea(rows='10', cols='90', name='content', required)
    label
      if user.showreplies
        input(type='checkbox', name='showreplies', checked)
      else
        input(type='checkbox', name='showreplies')
      = 'show replies to this post'
    if error
      p.error= error
    input(type='hidden', name='crumb', value='#{crumb}')
    button(type='submit') save

  #posts
    for post in posts
      article
        a(href='/post/post!#{post.value.postid}')
          time= post.value.created
        if post.value.reply
          p.reply in reply to:&#xa0;
            != post.value.reply
        pre!= post.value.content
    .pagination
      if next && lastKey
        a(href='/posts?last=#{lastKey}') older

block scripts
  script(type='text/javascript', src='/js/query-string.js')
  script(type='text/javascript', src='/js/post.js')

