extend layout

block content
  h1 profile

  form(method='post', action='/profile')
    label(for='name') name*
      input(type='text', name='name', value='#{user && user.name ? user.name : ""}', required)
    if error
      p.error= error
    label(for='websites') websites (comma delimited)
      input(type='text', name='websites', value='#{user && user.websites ? user.websites : ""}')
    label(for='bio') bio
      textarea(rows='5', cols='50', name='bio')= (user && user.bio ? user.bio : "")
    input(type='hidden', name='crumb', value='#{crumb}')
    button(type='submit') save