extend layout

block content
  h1!= user

  if userOp
    p This user is an operator

  if op && !userOp && !banned
    form(method='post', action='/ban')
      input(type='hidden', name='phone', value='#{phone}')
      input(type='hidden', name='uid', value='#{uid}')
      input(type='hidden', name='crumb', value='#{crumb}')
      button.ban(type='submit') ban this account

  if banned
    p This account is currently banned.

    if op
      form(method='post', action='/unban')
        input(type='hidden', name='phone', value='#{phone}')
        input(type='hidden', name='uid', value='#{uid}')
        input(type='hidden', name='crumb', value='#{crumb}')
        button.unban(type='submit') unban this account

  h2 websites
  ul.websites
    li!= websites

  h2 bio
  pre!= bio

  h2 recent posts
  #posts
    for post in posts
      article
        a(href='/post/post!#{post.value.postid}')
          time(datetime='#{post.value.created}')= post.value.created
        pre!= post.value.content
    .pagination
      if next && lastKey
        a(href='/user/#{uid}?last=#{lastKey}') older

  if op && !userOp
    h2.delete-account Delete account

    p If you delete this account, all posts associated with this will be removed.

    form(method='post', action='/deleteaccount')
      input(type='hidden', name='uid', value='#{uid}')
      input(type='hidden', name='crumb', value='#{crumb}')
      button.ban(type='submit') delete account

block login
